
    // Ant Design less
    @import '~antd/dist/antd.less';

    // Ant Design overrides
    @primary-color:                 #e35205;
/*
    // layout
    @layout-header-background:      @primary-color;
    @layout-body-background:        #ffffff;
    @layout-footer-background:      @primary-color;
*/
